<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Study</title>
    <link rel="icon" href="img/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="css/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div class="fixed z-10 inset-0 overflow-y-auto">
    <div class="min-h-screen py-6 flex flex-col justify-center sm:py-12">
        <div class="relative py-3 sm:max-w-xl sm:mx-auto w-full">
            <div class="relative px-4 py-10 bg-white shadow-lg sm:rounded-3xl sm:p-20">
                <div class="max-w-md mx-auto text-center">
                    <h1 class="text-6xl">Study</h1>

                    <p class="mt-4">Study is an incredibly simple solution to revising your terms!<br><br>
                        No registration required.</p>
                    <a href="/create" class="mt-4 sm:rounded-3xl bg-blue-500 text-white px-3 py-3 block"> Create a new study set</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>